.logo {
  position: relative;
  z-index: 1;
  height: 28px;
  margin-left: 10px;
  font-size: 32px;
  font-family: 'Cairo', sans-serif;
  color: #fff;
}
.logo:hover {
  color: #fff;
}
.main-color {
  color: var(--main-color);
}
.navbar {
  padding: 0;
  background-color: #000000;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;

  align-items: center;
  height: 80px;
}
.nav-menu {
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav-item > a.active {
  color: white;
  border-bottom: 2px solid var(--main-color);
}
.nav-item > a {
  display: flex;
  height: 80px;
  margin-left: 45px;
  padding-top: 27px;
  padding-right: 0;
  padding-left: 0;
  border-bottom: 2px solid transparent;
  -webkit-transition: color 0.2s, border 0.2s;
  transition: color 0.2s, border 0.2s;
  color: #899ead;
  font-size: 17px;
  font-weight: 600;
}
.nav-item > a:hover {
  color: white;
  border-bottom: 2px solid var(--main-color);
}

.menu-icon {
  color: #fff;
  display: none;
}
.dropdown-genre:hover .list-genre {
  opacity: 1;
  visibility: visible;
}
.list-genre {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

@media screen and (max-width: 1200px) {
  .navbar.container {
    position: relative;
  }

  .nav-menu {
    position: absolute;
    justify-content: center;
    top: 80px;
    left: -100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    background: #1c2237;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-menu a {
    margin-left: 0;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}
